.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
 
      "header header header header header header header"
      "navigation navigation navigation navigation navigation navigation navigation"
      "aside aside content content content content content"
      "aside aside content content content content content"
      "aside aside section section section section section"
      "aside aside section section section section section"
      "footer footer footer footer footer footer footer";
  }
 
  .header { grid-area: header; }
 
  .navigation { grid-area: navigation; }
 
  .aside { grid-area: aside; }
 
  .footer { grid-area: footer; }
 
  .content { grid-area: content; }
 
  .section { grid-area: section; }
 
 
body {
    background-color: #C4EBFA;
    color: white; /* Makes the font color white */
    text-align: center;
}
.header, .footer{
        padding: 20px;
       
        background-color: #03BFB1;
    }
 
.navigation{
        padding: 20px;
   
        background-color: #33C361;
    }
 
.aside{
        padding: 20px;
   
        background-color: #6EDB6E;
    }
 
.content{
        padding: 20px;
   
        background-color: #0F98C6;
    }
 
.section{
        padding: 20px;
   
        background-color: #03658C;
    }
 
body{
background-color: #C4EBFA;
}